
.SingleTodo{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    transition: 0.2s;
    background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");

    
}

.SingleTodo:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
}


.SingleTodo .singleTodoText{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}
.SingleTodo .singleTodoText:focus{
    outline: none;
}

.SingleTodo .allIcons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.SingleTodo .allIcons .icon{
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

.SingleTodo .editingTodo{
    outline: none;
}
.SingleTodo .editingTodo:focus{
    outline: none;
}

.drag{
    box-shadow: 0 0 20px black;
}
@media (max-width:700px) {
    .SingleTodo{
        width: 100% !important;
    }
}
